@charset "UTF-8";

* {
	font-family: Helvetica;
	
}
.sidebar {
	background: HoneyDew;
	padding:15px;
}
.main {
	padding:15px;
}
.head1 {
	text-align:center;
}
table {
	margin-left:auto;
	margin-right:auto;
}
h1 {
	margin: 0;
}
h2 {
	margin: 0;
	font-weight: normal;
}
h3 {
	margin: 12px;
	margin-left: 0px;
}
ul {
	margin: 0;
}
